header {
    display: flex;
    margin-top: 2%;

}
header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3vw;
    margin: auto;

}

header span,
#vs {
    color: yellow;
}

.scores {
    display: flex;
}
.scores-container {
    margin: auto;
}
.score-board {
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1vw;
}